<form #form="ngForm" class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <app-card-crud title="Data Driven" [isDebug]="true" [form]="form">
        <section class="content">

            <app-input-field class="col-sm-12" formControlName="nome" [classeCss]="aplicaCssErro('nome')" id="nome" label="Nome"
                [control]="formulario.get('nome')"></app-input-field>

            <!-- <div class="form-group" [ngClass]="aplicaCssErro('nome')">

                <div class="col-sm-12">
                    <label for="nome" class="control-label">Nome</label>
                </div>
                <div class="col-sm-12">
                    <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="nome">
                    <app-error-msg [control]="formulario.get('nome')" label="Nome">
                    </app-error-msg>
                </div>
            </div> -->
            <div class="form-group">

                <div class="col-sm-12">
                    <label for="email" class="control-label">Email</label>
                </div>

                <div class="col-sm-12">
                    <input type="email" class="form-control" formControlName="email" id="email"
                        placeholder="nome@email.com">
                    <app-error-msg [control]="formulario.get('email')" label="Email">
                    </app-error-msg>
                    <app-campo-control-erro [mostrarErro]="formulario.get('email').status === 'VALID'"
                        msgErro="Email válido!">
                    </app-campo-control-erro>
                    <app-campo-control-erro [mostrarErro]="formulario.get('email').hasError('emailInvalido')"
                        msgErro="Email já cadastrado!">
                    </app-campo-control-erro>
                    <app-campo-control-erro [mostrarErro]="verificaEmailInvalido()" msgErro="E-mail inválido.">
                    </app-campo-control-erro>
                </div>


                <div class="col-sm-12">
                    <label for="confirmarEmail" class="control-label">Confirmar Email</label>
                </div>

                <div class="col-sm-12">
                    <input type="email" class="form-control" formControlName="confirmarEmail" id="confirmarEmail"
                        placeholder="nome@email.com">
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('confirmarEmail')"
                        msgErro="E-mail é obrigatório.">
                    </app-campo-control-erro>
                    <app-campo-control-erro [mostrarErro]="formulario.get('confirmarEmail').hasError('equalsTo')"
                        msgErro="Confirmar e-mail é obrigatório.">
                    </app-campo-control-erro>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-3" [ngClass]="aplicaCssErro('cep')">
                    <label for="cep" class="control-label">CEP</label>
                    <input type="text" class="form-control" formControlName="cep" id="cep" placeholder="00000000"
                        (blur)="consultaCEP()">
                    <app-error-msg [control]="formulario.get('cep')" label="CEP">
                    </app-error-msg>
                </div>

                <div class="col-md-3" [ngClass]="aplicaCssErro('numero')">
                    <label for="numero" class="control-label">Número</label>
                    <input type="text" class="form-control" formControlName="numero" id="numero" placeholder="1234">
                    <app-error-msg [control]="formulario.get('numero')" label="Número">
                    </app-error-msg>
                </div>

                <div class="col-md-6" [ngClass]="aplicaCssErro('complemento')">
                    <label for="complemento" class="control-label">Complemento</label>
                    <input type="text" class="form-control" formControlName="complemento" id="complemento"
                        placeholder="complemento">
                    <app-error-msg [control]="formulario.get('complemento')" label="Complemento">
                    </app-error-msg>


                </div>

                <div class="col-md-12" [ngClass]="aplicaCssErro('rua')">
                    <label for="rua" class="control-label">Rua</label>
                    <input type="text" class="form-control" formControlName="rua" id="rua" placeholder="rua">
                    <app-error-msg [control]="formulario.get('rua')" label="Rua">
                    </app-error-msg>
                </div>

                <div class="col-md-12">

                    <div class="col-md-5" [ngClass]="aplicaCssErro('bairro')">
                        <label for="bairro" class="control-label">Bairro</label>
                        <input type="text" class="form-control" formControlName="bairro" id="bairro"
                            placeholder="bairro">
                        <app-error-msg [control]="formulario.get('bairro')" label="Bairro">
                        </app-error-msg>
                    </div>

                    <div class="col-md-3" [ngClass]="aplicaCssErro('cidade')">
                        <label for="estado" class="control-label">Cidade</label>
                        <select type="text" class="form-control" formControlName="cidade" id="cidade" placeholder="">
                            <option disabled>Selecione uma cidade</option>
                            <option *ngFor="let object of cidades" [value]="object.sigla"> {{ object.nome }}
                            </option>
                            <app-error-msg [control]="formulario.get('cidade')" label="Cidade">
                            </app-error-msg>
                        </select>
                    </div>

                    <div class="col-md-3" [ngClass]="aplicaCssErro('estado')">
                        <label for="estado" class="control-label">Estado</label>
                        <select type="text" class="form-control" formControlName="estado" id="estado" placeholder="UF">
                            <option disabled>Selecione um estado</option>
                            <option *ngFor="let object of estados" [value]="object.sigla"> {{ object.nome }}
                            </option>
                            <app-error-msg [control]="formulario.get('estado')" label="Estado">
                            </app-error-msg>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3" [ngClass]="aplicaCssErro('cargo')">
                    <label for="cargo" class="control-label">Cargo</label>
                    <select type="text" class="form-control" formControlName="cargo" id="cargo"
                        [compareWith]="compararCargos">
                        <option disabled>Selecione um cargo</option>
                        <option *ngFor="let cargo of cargos" [ngvalue]="cargo"> {{ cargo.desc }}
                        </option>
                    </select>
                </div>


                <div class="col-md-3" [ngClass]="aplicaCssErro('tecnologias')">
                    <label for="tecnologias" class="control-label">Tecnologias</label>
                    <select multiple type="text" class="form-control" formControlName="tecnologias" id="tecnologias"
                        [compareWith]="compararCargos">
                        <option *ngFor="let tecnologias of tecnologias" [value]="tecnologias.nome"> {{
                            tecnologias.desc }} </option>
                    </select>
                </div>

                <div class="col-md-3" [ngClass]="aplicaCssErro('newsletter')">
                    <label for="newsletter" class="control-label">Newsletter</label>
                    <div id="newsletter" class="row">
                        <div class="col-sm-4" *ngFor="let object of newsletterOp">
                            <label class="radio-inline">
                                <input type="radio" [value]="object.valor" formControlName="newsletter">
                                {{ object.desc }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3" [ngClass]="aplicaCssErro('termos')">
                    <div class="checkbox">
                        <label class="checkbox-inline">
                            <input type="checkbox" formControlName="termos"> Aceito os termos.
                        </label>
                        <app-campo-control-erro [mostrarErro]="!formulario.get('termos').valid"
                            msgErro="Aceite os termos.">
                        </app-campo-control-erro>
                    </div>
                </div>
            </div>
            <div class="col-md-3" [ngClass]="aplicaCssErro('framework')">
                <label for="frameworks">Frameworks</label>
                <div id="frameworks" class="row">
                    <div class="checkbox" class="col-sm-4" formArrayName="frameworks"
                        *ngFor="let object of framework; let i = index">
                        <label class="checkbox-inline">
                            <input type="checkbox" [formControlName]="i"> {{ object }}
                        </label>
                    </div>
                    <app-campo-control-erro [mostrarErro]="!formulario.get('frameworks').valid"
                        msgErro="Selecione uma opção">
                    </app-campo-control-erro>
                </div>
                <div class="col-md-12" class="row">
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Enviar</button>
                        <button class="btn btn-info" (click)="resetar()">Limpar</button>
                        <button class="btn btn-info" (click)="setarCargo()">Cargo</button>
                        <button class="btn btn-info" (click)="setarTecnologias()">Tecnologias</button>
                    </div>
                </div>
            </div>
        </section>
    </app-card-crud>
</form>