<div style="margin-top: 20px" *ngIf="form" >
<div>
    Detalhe do form
</div>
<pre>
    Form válido: {{ form.valid }}
</pre>
<pre>
    Form submetido: {{ form.submitted }}
</pre>
<pre>
    Valores: {{ form.value | json }}
</pre>

<pre>
    Pristine: {{ form.pristine }} - Dirty: {{ form.dirty }}
</pre>

</div>
